* {
    box-sizing: border-box;
    padding: 0;
    margin: 14px;
    list-style-type: none;
}
/* Сброс настроек страницы по умолчанию */
body {
    background-color: #eee;
    color: #4e4544;
    font: 16px sans-serif;
}
    header{

        display: flex;
        justify-content:space-between;
        color: #000000;
        height: auto;
    }
.p {
    font: bold 100% sans-serif;
}

.text-li{
}
.karta1{

}
.karta2{
    align-self: flex-center;
}
.zag-h2  {

    font-size: 24px;
    font-weight: normal;
    border-bottom: 2px solid #000000;
    list-style-type: none;
    color: #000000;
}
.zag-h1 {
    font-size: 70px;
    font-weight: normal;
    border-bottom: 2px solid #000000;
    list-style-type: none;
    color: #000000;
}
.circle {

    background: #ff8065; /* Цвет фона */
    width: 150px; /* Ширина блока */
    padding: 10px; /* Поля */
    height: 150px;
    border-radius: 80px;
    border: 2px solid #000; /* Параметры рамки */
    opacity: 0.5;
    position: absolute;
    z-index: 1;
    top: 170px; left: 20px;

}
.h1:hover { cursor: pointer}
.image-bloc {

    height: auto;
    align-self: flex-center;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: auto;

 }
.image-bloc2 {

}
.flexBox-conteiner-1 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items:flax-start;
    width: auto;
    height: auto;
    border: 2px solid #d4d2d6;

    max-width: auto;
}
@media screen and (max-width: 320px) {

    .flexBox-conteiner-1 {

        box-shadow: 3px 3px 5px 5px black;
    }

    .image-bloc2 {
        height: 200px;
        align-self: flex-end;
        justify-content: flex-start;
        flex-wrap: wrap;
        width: auto;
    }
}